{% load static %}
{% load pwa %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% progressive_web_app_meta %}
    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .navbar-header {
        float: left;
        margin: 0px;
        text-align: center;
        width: 100%;
      }
    .navbar-nav {
    width: 100%;
    text-align: center;
  }
 
    </style>
  <style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top mb-3" style="background-color: #1e90ff">
        <div class="navbar-header">
          <h6 style="color:white;margin:0px; font-size: 22px;">D-BOX</h6>        
        </div>
    </nav>

<!--   <a class="navbar-brand" href="#">Top navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
<!--   <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div> -->


    <main role="main" class="container" style="padding-top: 60px;padding-bottom: 50px">
 <p><span class="text-muted">you are here: </span><a href="{% url 'home' %}">Home </a>&raquo;<a href="{% url 'patient' %}"> Patient-{{ pat.first_name }} </a></p>
      
          <div class="jumbotron pt-3 pb-3 mb-3">
        <!-- <h4 style="text-align: center;">Patient Info</h4> -->
        <div class="row">
        <div class="col-md-4 order-md-2 mb-1">
          <h5 class="d-flex justify-content-between align-items-center mb-3" style="padding-right: 10px;">
            <span class="text-muted" style="padding-left: 10px;">Patient ID</span>
            <span class="badge badge-secondary badge-pill" >{{ pat.id }}</span>
          </h5>
        </div>
        </div>
        <div class="col-md-8 order-md-1">
          <div class="row">
            <div class="col-xs-6 ml-2">
              <h6>First name :</h6>
            </div>
            <div class="col-xs-6 ml-2">
              <p class="mb-0">{{ pat.first_name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 ml-2">
              <h6>Last name :</h6>
            </div>
            <div class="col-xs-6 ml-2">
              <p class="mb-0">{{ pat.last_name }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 ml-2">
              <h6>age :</h6>
            </div>
            <div class="col-xs-6 ml-2">
              <p class="mb-0">{{ pat.age }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 ml-2">
              <h6>Ph No. :</h6>
            </div>
            <div class="col-xs-6 ml-2">
              <p class="mb-0">{{ pat.contact_no }}</p>
            </div>
          </div>
          
<!--     <div class="container" style="text-align: center;">
    <a class="btn btn-md btn-primary" href="/docs/4.2/components/navbar/" style="display:inline-block;" role="button">Edit &raquo;</a>
    </div> -->
  </div>
</div>







<div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-0 mb-0 border-bottom">
        <h1 class="h5">Recovery Graph</h1>
      </div>

      <canvas class="mb-4 mt-3 w-100 chartjs-render-monitor" id="hrChart" width="726" height="306" style="display: block; width: 363px; height: 153px;"></canvas>



      <div class="jumbotron mb-3 py-3" >
        <h4 style="text-align: center;">Test</h4>
        <div class="col-md-8 order-md-1">
        <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="selTest">Select type</label>
            <select class="custom-select d-block w-100" id="state" required>
              <option value="">Choose...</option>
              <option>Type 1</option>
            </select>
            <div class="invalid-feedback">
              Please select a test.
            </div>
          </div>
        </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-6 ml-3">    <a class="btn btn-md btn-primary" href="/docs/4.2/components/navbar/" style="display:inline-block;" role="button">Test Now &raquo;</a></div>
        <div class="col-xs-6 ml-3">    <a class="btn btn-md btn-primary" href="/docs/4.2/components/navbar/" style="display:inline-block;" role="button">Test History&raquo;</a></div>

      </div>

    </div>
  </form>
  </div>
</div>

</main>


<nav class="navbar navbar-expand-md navbar-dark fixed-bottom" style="padding:0px;">
<div class="container" style="width:100%;height:5px; background-color: white;"></div>
<div class="navbar-nav" style="background-color: #1e90ff; " >

  <div class="text-center mb-2 mt-2" style="width:100%;">
   
  <div class="row"  style="display: inline-block; width:315px; padding:0px;">
    <div class="col-sm" style="text-align: center; width:105px; height:27px;  display:inline;">
      <a href="" style="color:white;   ">Settings</a>
    </div>
    <div class="col-sm" style="text-align: center; width:105px; height:27px;  display:inline;">
       <a href="" style="color:white;    ">Support</a>
    </div>
    <div class="col-sm" style="text-align: center; width:105px; height:27px; display:inline;">
       <a href="{% url 'login' %}" style="color:white;  ">Signout</a>
    </div>
  </div>

</div>
 <!--   <div class="text-muted text-center text-small"  >
    <p class="mb-1" style="color:#ADD8E6;">&copy; 18-19 D-BOX, CSD, NITK Surathkal</p>
  </div> -->
</div>
</nav>

<script src="{% static 'jquery-3.3.1.slim.min.js' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- <script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->
<script src="{% static 'bootstrap.bundle.min.js' %}" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>
